html {
    font-family: Helvetica, sans-serif;
}

label {
    font-size: .83em;
    font-weight: bold;
}

.card {
    background-color: #ebf0f7;

}

.flex-container {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
}

.flex-row {
    align-items: center;
    justify-content: center;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.token-name {
    text-size-adjust: 50%;
}

.token-amount {
    color: #5ac47e;
    text-align: end;
}

.token-id {
    font-family: "Lucida Console", "Courier New", monospace;
}
