html {
    font-family: Helvetica, sans-serif;
}

label {
    font-size: .83em;
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.token-name {
    text-size-adjust: 50%;
}

.token-amount {
    color: #5ac47e;
}

.token-id {
    font-family: "Lucida Console", "Courier New", monospace;
}
